<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Pool inspections</h1>
         <table border=1 cellpadding=7>
            <tr>
                <th>County</th>
                <th>Pool name</th>
                <th>Address</th>
                <th>City</th>
                <th>ZIP</th>
                <th>Inspection date</th>
                <th>Pool closure/inspection findings</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.county }}</td>
                <td>{{ obj.pool_name }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.city }}</td>
                <td>{{ obj.zip }}</td>
                <td>{{ obj.inspection_date }}</td>
                <td>{{ obj.findings }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>